@use "sass:map";
@import "themes";

html,
body {
    margin: 0;
}

*{
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: map.get($theme-colors, "main");
    margin: auto;
}