body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .header {
    margin-bottom: 20px;
    background-color: aqua;
  }

  .navbar-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .navbar-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .banner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
  }
  .banner h1 {
    display: block;
  }
  .card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  .card-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  footer {
    padding: 10px 0;
  }
  