.nav-category {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    transition: 0.3s;
  }
  
  .nav-category:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
.product-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-card .price-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-card .current-price {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
  }
  
  .buy-button {
    width: 100%;
  }