.header-top{
    background: #bdacac;
}
.header-top-right{
    background: pink;
    display: grid;
    justify-content: end;

    ul {
        display: flex;
        column-gap: 10px;
        list-style: none;
        padding: 10px;
        size: 30px;
    }
}